@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 624px) {}

@media screen and (min-width: 390px) and (max-width: 700px) {
    .header_logo-img {
        height: 23px;
        width: 73px;
    }

    .line-header-segment {
        top: 80px;
    }

    .other-text-logo {
        font-size: 12px;
        line-height: 1.25;
    }

    .btn-top {
        font-size: 14px;
        line-height: 1.28571;
        padding: 30px 36px;
    }

    .horizontal-line {
        gap: 12px;
    }

    .header_list {
        display: none;
    }

    .header_nav {
        margin: 0;
    }

    .img-hero-bg {
        display: none;
    }

    .hero-block {
        padding-top: 59px;
        width: 356px;
    }

    .hero-title {
        font-size: 45px;
        line-height: 1.06667;
        margin-bottom: 15px;
    }


    .btn-wrap {

        min-width: 100%;
        text-align: center;
    }

    .btn-blue {
        margin-bottom: 16px;
    }

    .bnt-transparent {
        /* margin-bottom: 48px; */
    }

    .hero-text-img {
        width: 38px;
        height: 38px;
    }

    .hero-text-subtitle {
        font-size: 14px;
        line-height: 1.85714;
        margin-bottom: 39px;
    }

    .btn-segment {
        flex-direction: column;
    }

    .project-all-blocks {
        margin-bottom: 73px;
    }

    .project-line-block {
        padding: 14px 39px;
    }

    .header-title {
        font-size: 35px;
        line-height: 1;
    }

    .rotate-block {
        font-size: 11px;
        line-height: 1;
    }

    .dot {
        width: 5px;
        height: 5px;
        margin-left: -5px;
    }

    .project-card {
        flex-direction: column;
    }

    .project-title {
        font-size: 35px;
        line-height: 1.28571;
        margin-bottom: 24px;
    }

    .project-tags {
        margin-bottom: 24px;
    }

    .tags-item {
        padding: 7px 21px;
        font-size: 14px;
        line-height: 2.00801;
    }

    .project-description {
        max-width: max-content;
    }

    .project-desc {
        font-size: 14px;
        line-height: 1.85714;
    }

    .project-btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.125;
        min-width: 100%;
        text-align: center;
    }

    .project-img {
        margin-right: 0px;
        margin-bottom: 24px;
    }

    .project-img:not(.block-right) {
        margin-right: 0px;
        margin-bottom: 24px;
    }

    .project-card.right {
        flex-direction: column-reverse;
    }

    .global-btn {
        font-size: 16px;
        line-height: 1.125;
    }

    .social-btn {
        margin-top: 24px;
        padding: 35px 90px;
        font-size: 21px;
        line-height: 1.33867;
    }
    .ico-social-btn {
        width: 24px;
        height: 24px;
      }
      

    .row-btn-down {
        flex-direction: column
    }

}